@font-face {
    font-family: 'Sanchez';
    src: url('../fonts/sanchez/regular.eot');
    src: url('../fonts/sanchez/regular.eot?iefix') format('eot'),
        url('../fonts/sanchez/regular.woff') format('woff'),
        url('../fonts/sanchez/regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Entypo';
    src: url('../fonts/entypo/entypo.eot');
    src: url('../fonts/entypo/entypo.eot?iefix') format('eot'),
        url('../fonts/entypo/entypo.woff') format('woff'),
        url('../fonts/entypo/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Entypo Social';
    src: url('../fonts/entypo/entypo-social.eot');
    src: url('../fonts/entypo/entypo-social.eot?iefix') format('eot'),
        url('../fonts/entypo/entypo-social.woff') format('woff'),
        url('../fonts/entypo/entypo-social.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
