@font-face {
  font-family: "Museo Slab";
  src: url('../fonts/museo-slab/regular.eot');
  src: url('../fonts/museo-slab/regular.eot?iefix') format('eot'),
       url('../fonts/museo-slab/regular.woff') format('woff'),
       url('../fonts/museo-slab/regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab";
  src: url('../fonts/museo-slab/italic.eot');
  src: url('../fonts/museo-slab/italic.eot?iefix') format('eot'),
       url('../fonts/museo-slab/italic.woff') format('woff'),
       url('../fonts/museo-slab/italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
