
/*---------MIXINS---------*/

.pretty-link() {
    border-bottom: 1px solid @grayLighter;
    &:hover {
        text-decoration: none;
        border-bottom: 1px solid @red;
    }
}

.pretty-input() {
    height: 35px;
    background-color: @graySuperLight;
    border-color: @grayLighter;
    &:focus {
        border-color: @grayLight;
        .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    }
}


/*---------MAIN---------*/

body {
    overflow-y: scroll;
    margin-top: 41px;
    background-image: url('../images/bg.png');
    background-repeat: repeat;
}

a:focus {
    outline: none;
}

p a,
dl a {
    .pretty-link()
}

h1, h2, h3 {
    font-family: @titleFontFamily;
    font-color: @gray;
}

h4, h5, h6 {
    font-color: @gray;
}

p {
    font-color: @gray;
}


/*---------HEADER---------*/

h1.header,
h2.header,
h3.header,
h4.header {
    color: @grayDark;
    font-family: @titleFontFamily;
}

h1.header {
    font-size: @titleFontSize;
}

h2.header {
    font-size: @titleFontSize - 5;
    padding-top: @marginSmall;
}

h3.header {
    font-size: @titleFontSize - 10;
    padding-top: @marginSmall - 3;
}

h4.header {
    font-size: @titleFontSize - 15;
    padding-top: @marginSmall - 6;
}


/*---------BLOCKS---------*/

.span3:first-child,
.span4,
.span8,
.span12 {
    margin-left: 0px;
}

.span4 {
    width: 340px;
    margin-bottom: 50px;
}

.span8 {
    /*The height is set by javascript (see 'js/application.js')*/
    width: 580px;
    padding: 30px;
    margin-bottom: 50px;
    background-color: white;
    .box-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
}


/*---------NAVBAR---------*/

.manage {
    padding-top: 30px;
    padding-bottom: 20px;
    height: 22px;

    a {
        padding: 6px 9px;
        font-size: @fontSizeSmall;
        color: @grayLight;
        background-color: @graySuperLight;
        border: 1px solid @grayLighter;
        .border-radius(5px);

        &:hover {
            text-decoration: none;
            color: @orange;
            .transition(color linear .1s);
        }
    }
}

.navbar-tms {
    background-color: @grayDark;
    height: 50px;
}

.head {
    margin-top: 15px;
}

.head > a,
.head .pull-right > a {
    color: @grayTitles;
    font-size: 18px;
    font-family: @titleFontFamily;
    &:hover {
        color: @white;
        text-decoration: none;
        .transition(color linear .2s)
    }
}

.head [class*="entypo-"] {
    color: @grayTitles;
    &:hover {
        color: @white;
        .transition(color linear .2s)
    }
}


/*---------NAVIGATION-MENU---------*/

.nav-pills {
    height: 50px;
    width: 980px;
    background-image: url('../images/buttons/menu.png');
}

.nav-pills > li a {
    color: @gray;
    border-radius: 0;
    height: 50px;
    width: 245px;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    &:hover {
        background: none;
        color: @red;
        border-bottom: none;
    }
}

.nav-pills > .active a,
.nav-pills > .active a:hover {
    background-image: url('../images/buttons/menu_active.png');
    background-color: transparent;
    width: 245px;
    height: 50px;
    color: @red;
}

.active#news-feed a {}

.active#topics a {
    background-position: 490px 0;
}

.active#theses a {
    background-position: 490px 0;
}

.active#projects a {
    background-position: 735px 0;
}

/*---------FOOTER---------*/

.footer-up {
    padding: 30px 0;
    background-color: @graySuperLight;

    a {
        display: block;
        color: @grayLight;
    }

    .leading {
        color: @red;
        font-size: @fontSizeLarge;
        font-family: @titleFontFamily;
        text-transform: uppercase;
    }
}

.span3:hover .leading {
    color: @grayDark;
    .transition(color linear .2s);
}

.span3 .leading {
    .transition(color linear .2s);
}

.footer-down {
    padding: 20px 0;
    background-color:  @grayDark;

    p {
        padding: 10px 0;
        margin-bottom: 0;
        color: @grayLighter;
    }
}


/*---------SIDE-PANEL---------*/

.panel {
    margin-top: 20px;
    padding: 5px 0 20px;
    background-color: @graySuperLight;
    border: 1px solid @grayLighter;

    &.right {
        .border-right-radius(10px);
    }

    &.left {
        .border-left-radius(10px);
    }

    h4 {
        padding: 20px 20px 5px;
        font-family: @titleFontFamily;
        font-size: 24px;
        color: @grayTitles;
        border-bottom: 2px solid lighten(@grayLighter, 5%);

        &:first-child {
            padding-top: 10px;
        }
    }
}

.panel-content {
    padding: 8px 20px;

    li {
        margin-bottom: 10px;
    }

    li a:hover {
        margin-left: 5px;
        .transition(margin-left linear .1s);
    }

    li a {
        .transition(margin-left linear .1s);
    }

    li:last-child {
        margin-bottom: 0;
    }

    ul.unstyled {
        margin-bottom: 0;
    }
}

dl.panel-content {
    .dl-horizontal();
    font-size: @fontSizeSmall;
    color: @gray;
    margin: 0px;

    dt {
        padding: 7px 0;
        width: 110px;
        text-align: left;
        font-weight: normal;
    }

    dd {
        padding: 7px 0;
        margin-left: 130px;

        /*---TODO: find a better solution---*/

        padding-top: 8px;

        &:first-child {
            padding-top: 7px;
        }

        /*----------------------------------*/
    }
}

.avatar {
    height: 296px;
    margin: 20px;
    border: 1px solid @grayBorder;
    background-color: @white;
}


/*---------ICONS---------*/

@media screen, print {
    [class*="entypo-"] {
        font-style: inherit;
        font-weight: normal;
        vertical-align: bottom;
        &:before {
            font-family: Entypo;
            font-size: 2em;
            vertical-align: middle;
            display: inline-block;
            content: "";
            width: 0.5em;
            text-align: center;
        }
    }
    .entypo-stroke:before {
        font-family: Entypo;
    }

    .entypo-thesis:before      { content: '\1F393'; }
    .entypo-tag:before         { content: '\E789'; }
    .entypo-tag2:before        { content: '\1F4D1'; }
    .entypo-mail:before        { content: '\2709'; }
    .entypo-clock:before       { content: '\1F554'; }
    .entypo-user:before        { content: '\1F464'; }
    .entypo-users:before       { content: '\1F465'; }
    .entypo-add-user:before    { content: '\E700'; }
    .entypo-comment:before     { content: '\E718'; }
    .entypo-quote:before       { content: '\275E'; }
    .entypo-settings:before    { content: '\2699'; }
    .entypo-book:before        { content: '\1F4D5'; }
    .entypo-rss:before         { content: '\E73A'; }
    .entypo-status:before      { content: '\E704'; }
    .entypo-lock:before        { content: '\1F512'; }

    .entypo-github:before      { content: '\F300'; font-family: 'Entypo Social'; }
    .entypo-twitter:before     { content: '\F309'; font-family: 'Entypo Social'; }
    .entypo-gplus:before       { content: '\F30F'; font-family: 'Entypo Social'; }

    .mini { padding-right: 10px; font-size: 1.05em;}
    .big { font-size: 2em; }
    .medium-big { font-size: 1.33em; }
}


/*---------TAGS---------*/

a.tag {
    .pretty-link();
}

a.tag-root {
    .pretty-link();
    font-weight: bold;
}

.tag-list {
    padding: 15px 0;
    border-bottom: 1px solid @grayBorder;
}


/*---------BUTTONS---------*/

.tms-btn {
    color: @grayDark;
    background: @btnBorder;
    border: none;
    padding: 5px 10px;
    *border: 0;
    .border-radius(@baseBorderRadius);
    .ie7-restore-left-whitespace();
    .box-shadow(0px 1px 1px @grayTitles);

    &:hover {
        color: @white;
        background: @red;
        border: none;
        text-decoration: none;
        .box-shadow(0px 1px 1px @redDark);
    }

    &.active,
    &:active {
        box-shadow: none;
    }

    &.tms-warning:hover {
        background: @btnWarningBackground;
        .box-shadow(0px 1px 1px @btnWarningBackgroundHighlight);
    }

    &.tms-danger:hover {
        background: red;
        .box-shadow(0px 1px 1px darken(red, 20%));
    }

    &.tms-success:hover {
        background: @btnSuccessBackground;
        .box-shadow(0px 1px 1px @btnSuccessBackgroundHighlight);
    }

    &.tms-info:hover {
        background: @btnInfoBackground;
        .box-shadow(0px 1px 1px @btnInfoBackgroundHighlight);
    }
}


/*---------LINKS---------*/

a.gray-link {
    font-size: @fontSizeSmall;
    color: @grayLight;
    display: block;
    margin-top: @marginMin;

    &:hover {
        color: @grayLight;
    }
}


/*---------COMMENTS---------*/

textarea {
    width: auto;

    &.comment {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }
}

div.comment {
    color: @gray;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid @grayBorder;

    .entypo-settings {
        visibility: hidden;
    }

    &:hover .entypo-settings {
        visibility: visible;
    }
}

.dropdown a {
    color: @grayDark;
}


/*---------LISTS---------*/

.table-layout {
    border-top: 1px solid @tableBorder;
    padding: @marginSmall 15px;
    &:first-child {
        border-top: none;
        padding-top: 5px;
    }

    h3 {
        margin: 0;
    }

    h3 a {
        color: @gray;
        &:hover {
            text-decoration: none;
        }
    }

    li span {
        padding: 0 5px 5px 0;
        color: @gray;
    }

    ul {
        border-bottom: 1px dotted @grayBorder;
        & > li {
            padding: 0 20px 10px 0;
            color: @grayLight;
            font-size: @fontSizeSmall;
        }
    }
}

.table-text {
    margin-top: @marginSmall;
}


/*---------LOGIN-FORM---------*/

.login {
    display: block;
    margin: 30px auto 50px;
    height: 300px;
    width: 300px;
    background-color: white;
    .box-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));

    .form-vertical {
        padding: 30px;
    }

    input#username,
    input#password {
        .pretty-input();
    }

    .checkbox {
        width: 50%;
    }

    .link {
        .pretty-link();
        font-size: @fontSizeSmall;
    }

    .bottom {
        padding-top: 20px;
    }
}

h1.login-title {
    display: block;
    margin-top: 80px;
    font-size: 24px;
    text-align: center;
}


/*---------OTHER---------*/

.dynamic-field-child {
    margin-bottom: 5px;
}

.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}

.typeahead-details {
    color: gray;
    font-size: small;
}

.active .typeahead-details {
    color: white;
}

.center {
    text-align: center;
    padding: 20px 0px;
}

.form-inline {
    padding: 0;
    margin: 0;
    border: 0;
}

label.text {
    padding-top: 5px;
}
